{% extends 'base.html.twig' %}
{% block body %}
<div>
  <a href="/logout">Salir</a>
</div>
<table class="table table-bordered tablaGfct">
    <thead>
      <tr>
        <th>
          #
        </th>
        <th>
          Nombre
        </th>
        <th>
          Dirección
        </th>
        <th>
          Código Postal
        </th>
        <th>
          Teléfono 1
        </th>
      </tr>
    </thead>
    {% for empresa in empresas %}
        <tr>
          <td>{{ empresa.id }}</td>
          <td>{{ empresa.nombre}}</td>
          <td>{{ empresa.direccion}}</td>
          <td>{{ empresa.cp}}</td>
          <td>{{ empresa.telefono1}}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
